{% for use in pagination%}
       <tr class="warning"  > 
       <td>{{use.id}}</td> 
       <td>{{use.job_title}}</td>
       <td>{{use.job.skills}}
    </tr > 
       
    {% else%}
    <tr> <td>No record found</td></tr> 
{% endfor%}